.mainWrap{
    background-color: var(--color-primary);
    margin-top: 50px;
    margin-right: 150px;
    margin-left: 150px;
    border: 1px solid var(--color-secondary);
    border-radius: 12px;
}
.mainFlex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    height: 200px;
}
.mainText{
    font-size: 36px;
    color: var(--color-secondary);
    padding-top: 15px;
}
.question{
    width: 45%;
}
.answer{
    width: 45%;
}
.submitButton{
    background-color: var(--color-primary);
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--color-secondary);
    font-size: 22px;
    border: 2px solid var(--color-secondary);
    width: 90%;
    height: 3.5rem;
    transition-duration: 0.2s;
}
.submitButton:active{
    transform: translateY(4px);
    border:none;
}
.submitButton:hover{
    color: var(--color-primary);
    background-color: var(--color-secondary);
    border: 1px solid var(--color-primary);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type=text]{
    color: var(--color-primary);
    background-color: var(--color-secondary);
    border: 2px solid darkgray;
    border-radius: 4px;
    height: 70px;
    width: 30rem;
    
    /* Small Devices, Tablets */
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color-primary);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--color-primary);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--color-primary);
  }
.question, .answer{
    border: 1px solid var(--color-secondary);
    padding-top: 55px;
    height: 100%;
    background-color: var(--color-primary);
}