.ButtonWrapper{
    border: 1px solid #231c2b;
    border-radius: 6px;
}
.Buttons{
    color: #231c2b;
    background-color: transparent;
    margin: 10px;
    border: 1px solid #231c2b;
    transition-duration: 0.2s;
}
.Buttons:active{
    transform: translateY(4px);
    border:none;
}
.Buttons:hover{
    color: snow;
    background-color: #231c2b;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}